---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="flex items-center justify-center flex-col h-[100vh] max-w-[800px] m-auto text-center">
		<img src="https://avatars.githubusercontent.com/u/6179620?v=4" class="rounded-full w-[200px] h-[200px] mb-5" alt="">
		<h1 class="text-6xl font-extrabold">Aris Faria Muhammadun</h1>
		<h2 class="text-2xl font-light mb-6">Software Engineer</h2>
		<p class="text-xl mb-5">I am a Software Engineer that mostly focused on Frontend development. Over the years I've worked with various frontend tech stack, but I now mostly stick with JavaScript framework like ReactJS or VueJS.</p>
		<p><a href="https://drive.google.com/file/d/1drADs67FpRJdjgMymQ1I5SKORdohMDel/view?usp=sharing" class="text-xl font-semibold leading-6 rounded-xl border px-4 py-3 inline-block" target="_blank">Download Resume <span aria-hidden="true">→</span></a></p>
	</main>
</Layout>

