---
interface Props {
  image: string
  name: string
}

const { image, name } = Astro.props
---

<section class="work my-16 text-center">
  <figure class="border p-2 radius-sm mb-4 dark:border-white dark:bg-white">
    <img src={image} alt="AccelByte">
  </figure>
  <h2 class="text-4xl mb-3 font-light">{name}</h2>
  <slot />
  <hr class="my-16 w-[200px] m-auto border-t-4">
</section>