---
import PortfolioCard from "../../components/PortfolioCard.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Work | Aris FM">
  <div class="pt-[120px] px-8 max-w-[800px] mx-auto">
    <div class="text-center">
      <h1 class="text-6xl font-extrabold">Work</h1>
      <p class="text-lg font-light mb-6">Some of my selected work over the years</p>
    </div>

    <PortfolioCard image="/work-accelbyte.png" name="AccelByte">
      <p>
        Working on several projects, including Admin Portal, Game Launcher, Player Portal, and other internal toolings.
      </p>
      <p><strong>Tech Stacks: </strong> ReactJS, Remix, Electron, Redux Toolkit, Storybook</p>
    </PortfolioCard>

    <PortfolioCard image="/work-netray.png" name="Netray">
      <p>
        News and Social Media monitoring application with machine learning. My responsibility including researching the most suitable tech architecture, setting up CI/CD, intensive discussion with all stakeholders and also leading the front-end team.
      </p>
      <p><strong>Tech Stack:</strong> VueJS, Nuxt, Vuex/Pinia, Sass, Storybook</p>
    </PortfolioCard>
    
    <PortfolioCard image="/work-sebangsa.png" name="Sebangsa">
      <p>
        A social media platform that cater to Indonesian audience. My role in this project is mainly responsible for crafting design for web interface and also creating UI library using React.
      </p>
      <p><strong>Tech Stack: </strong> ReactJS, Sass</p>
    </PortfolioCard>

    <PortfolioCard image="/work-slidemodel.png" name="SlideModel">
      <p>
        Leading provider of customizable presentation templates. My responsibility including creating the UI design and integrating with WordPress, maintaining good Core Web Vitals (CWV).
      </p>
      <p><strong>Tech Stack: </strong> Wordpress, jQuery, Sass, Bootstrap</p>
    </PortfolioCard>
  </div>
</Layout>
